<div class="col-sm-8 col-sm-offset-3">

    <div class="row">
        <!--Single Image with validations-->
        <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
             ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
             ngf-resize="{width: 100, height: 100}">Upload single photo with validations</div>

        <!--Multiple files-->
        <div class="button" ngf-select ng-model="files" ngf-multiple="true">Upload multiple photos</div>

        <!--Drop files: -->
        <div ngf-drop ng-model="files" class="drop-box">Drag and Drop Upload Photos</div>
        <button type="submit" ng-click="submit()">submit</button>

    </div>

    <div class="row">
        <input class="form-control" ng-model="user.username">
    </div>

    <div class="row">
        <textarea class="form-control" ng-model="user.bio"></textarea>
    </div>
</div>